<h1>Reviews for <%= @movie.title %></h1>
<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= review.name %>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <%= review.comment %>
    </li>
  <% end %>
</ul>